<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>    
	<add key="debug" value="http://localhost:55981/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <add key="debug" value="http://localhost:55981/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>